\#*
sample
tmp
.DS_Store
node_modules
npm-debug.log
test
dist
build
cov
coverage
*.sln
*.njsproj
*.travis.yml
*.jshintrc
.map
*.svn
*.suo
*.user
*.tmp
bin
Bin
obj
dirtyflag.txt
.settings/
.fastdev.lock
build
node_modules
Resources
.ntvs_analysis.dat
npm-debug.log
.*.swp
.lock-*
build/
demo/*
docs/*
test/*
Gruntfile.js
.travis.yml
component.json
index.html
.npmignore
*.md
*.jsx